* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Inter', sans-serif;
}

/* header  */
#header {
    background: rgb(104, 104, 240);
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
}

nav.container {
    display: flex;
    width: 100vw;
    padding: 2em;
    justify-content: space-between;
}

nav.container a {
    font-size: 1.5em;
    text-decoration: none;
}

nav.container span {
    color: black;
}

ul {
    list-style: none;
}

/* Conteudo das fotos */
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: violet;
}

#container li {
    background: black;
    margin: 2em 0;
    padding: 1em;
}

#container li img {
    width: 350px;
}